<mat-card class="margin5px" fxLayout="row" fxLayoutGap="10">
  <div fxHide.lt-md fxFlex="20%" class="textAlignCenter" >
    <img id="showImage" [src]="info.image"/>
  </div>
  <div fxLayout="column" fxFlex="80%">
    <div fxLayout="column">
      <div fxFlex fxLayout="row">
        <div [innerHtml]="info.link"></div>
        <star-rating-comp [starType]="'svg'" [readOnly]="true" [rating]="info.rating" [numOfStars]="10"></star-rating-comp>
      </div>
      <div fxFlex>
        {{info.genres}}
      </div>
    </div>
    <div class="textAlignJustify" [innerHtml]="info.summary" fxFlex="grow">
    </div>
  </div>
</mat-card>