<div class="marginTop20px">
  <div fxLayout="row">
    <img id="tuvolu-icon" class="cursorPointer" [routerLink]="'/home'" src="../assets/tv-on-search.png" />
    <search-bar (searchClick)="tuvoluActions.getData($event)" [searchKeyword]="searchValue$ | async"></search-bar>
  </div>
  <div id="displayShowInformation">
    <div *ngIf="loadingData$ | async" fxLayoutAlign="center center" style="width: 100vw; height: 80vh;">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="!(loadingData$ | async)">
      <div *ngFor="let value of showInformation$ | async">
        <search-data [info]="value"></search-data>
      </div>
    </div>
  </div>
</div>
