<div class="marginTop20px">
  <div fxLayout="row">
    <img id="tuvolu-icon" class="cursorPointer" [routerLink]="'/home'" src="../assets/tv-on-search.png" />
    <input class="searchInput"  #search [value]="searchValue$ | async" placeholder="Search Text" (keyup.enter)="tuvoluActions.getData(search.value)" />
    <img class="cursorPointer" (click)="tuvoluActions.getData(search.value)" src="../../assets/search.png" />
  </div>
  <div id="displayShowInformation">
    <div *ngIf="loadingData$ | async" fxLayoutAlign="center center" style="width: 100vw; height: 80vh;">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="!(loadingData$ | async)">
      <div *ngFor="let value of showInformation$ | async">
        <search-data [info]="value"></search-data>
      </div>
    </div>
  </div>
</div>
