
.margin100200 {
    margin: 100px 200px;
}

.marginTop40px{
    margin-top: 40px;
}

.homeSearchInput {
    width: 400px;
    height: 25px;
}

@media (max-width: 1080px)  {
    .margin100200 {
        margin: 0px;
    }
}

